@{
    ViewData["Title"] = "FutureValueReaL";
}
<div class="row">
    <div class="col-sm-8">
        <h2>Future Value</h2>
        <h3>Headquarters</h3>
        <address class="row">
            <i class="fa fa-handshake-o col-sm-2" style="font-size:400%;color:green"></i>
            <div class="col-sm-8">
                Welcome to my app.  It only took me 6 weeks to get here!<br />
            </div>
        </address>
    </div>
