@{
    ViewData["Title"] = "Contact Someone Else";
}
<div class="row">
    <div class="col-sm-8">
        <h2>Future Value</h2>
        <h3>Headquarters</h3>
        <address class="row">
            <i class="fa fa-handshake-o col-sm-2" style="font-size:400%;color:green"></i>
            <div class="col-sm-8">
                Oh for Pete's Sake<br />
                ImaMoron, Mi 49696<br />
                <abbr title="Phone">P:</abbr>
                800.Unsettled
            </div>
        </address>
    </div>
    <img src="~/Images/Crazyeyes.jpg" alt="Crazy Eyes" class="rounded-circle" />
